// Typography
$font-family-sans-serif: 'Myriad Pro Boldcondit', sans-serif;
$font-family-semibold: 'Myriad Pro Bold Semi Extended';
$font-family-light: 'Myriad Pro Light O';
$font-family-regular: 'Myriad Pro Regular';
$font-family-roboto: "'Roboto', sans-serif";

// Colors
:root {
  --primary: #1f2d5a;
  --background-base: rgb(245, 245, 248);
}
